* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: rgb(255, 240, 213);
    color: #2f0000;
    text-align: center;
}

a {
    color: rgb(120, 0, 0);
    text-decoration: none;
    font-size: 24px;
}

.note {
    font-size: medium;
}

a:hover {
    text-decoration: underline;
  }


.container {
    max-width: 600px;
    margin: 0 auto 2rem;
    text-align: left;
    padding: 1rem;
    list-style-position: inside; /* This keeps dots/numbers inside the text */
}

.title {
    font-family: "Montserrat", serif;
    font-size: 2rem;
    margin: 1rem;
}

.subtitle {
    font-family: "Source Sans 3", serif;
    margin: 0 auto;
    padding: 0;
}

.front {
    display: inline-block;
    max-width: 300px;
    width: 80%;
    margin: auto 0;
    padding: 10px 20px;
    border: thick solid #520000;
    background-color: rgb(255, 240, 213);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.front:hover {
    background-color: #520000;
}

.front:hover a {
    color: blanchedalmond;
    text-decoration: none;
}

.description {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
    padding: 1rem;
}
